@{
    ViewData["Title"] = "Burial Summary";
}

@model BurialmainViewModel

<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
</div>
<a class="btn btn-dark float-right" asp-controller="Home" asp-action="AddBurialRecord">Add Record</a>

<table class="table table-bordered table-striped">

    <!-- Table Header -->
    <thead>
        <tr>
            <th class="col-1">Id</th>
            <th class="col-1">Sex</th>
            <th class="col-1">Age at Death</th>
            <th class="col-1">Area</th>
            <th class="col-1">Burial Number</th>
            <th>Text</th>
        </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
        @foreach (Burialmain b in Model.Burialmains)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Sex</td>
                <td>@b.Ageatdeath</td>
                <td>@b.Squarenorthsouth @b.Squareeastwest @b.Area</td>
                <td>@b.Burialnumber</td>
                <td>@b.Text</td>

                <td class="text-center text-align-center">
                    <form method="get" asp-action="BurialDetails" asp-controller="Home">
                        <input name="Id" type="hidden" value=@b.Id id="Id">
                        <button class="btn btn-dark justify-content-center" type="submit">Burial Details</button>
                    </form>
                </td>
                <td class="text-center text-align-center">
                    <form method="get" asp-action="DeleteBurialRecord" asp-controller="Home">
                        <input name="Id" type="hidden" value=@b.Id id="Id">
                        <button class="btn btn-dark justify-content-center" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Page Number buttons to switch pages *@
<div page-model="@Model.PageInfo" page-action="BurialSummary" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 float-center">
</div>