@{
    ViewData["Title"] = "Burial Details";
}

@model Burialmain

<div class="container form-control-static">
    <form method="post" asp-controller="Home" asp-action="EditBurialRecord" class="form-control-static">
        <h2 class="text-center">@Model.Id</h2>

        <img class="center" style="height:100" src="@ViewBag.photo"/><br /><br />
        <input type="hidden" asp-for="Id">

        <label asp-for="Sex">Sex:</label>
        <input asp-for="Sex" /><br />

        <label asp-for="Ageatdeath">Age At Death:</label>
        <input asp-for="Ageatdeath" /><br />

        <label asp-for="Wrapping">Wrapping:</label>
        <input asp-for="Wrapping" /><br />

        <label asp-for="Squarenorthsouth">North/South Coordinate:</label>
        <input asp-for="Squarenorthsouth" /><br />
        <label asp-for="Squareeastwest">East/West Coordinate:</label>
        <input asp-for="Squareeastwest" /><br />
        <label asp-for="Area">Area:</label>
        <input asp-for="Area" /><br />

        <label asp-for="Haircolor">Hair Color:</label>
        <input asp-for="Haircolor" /><br />

        <label asp-for="Depth">Depth:</label>
        <input asp-for="Depth" /><br />

        <label asp-for="Headdirection">Head Direction:</label>
        <input asp-for="Headdirection" /><br />

        <label asp-for="Facebundles">Facebundles:</label>
        <input asp-for="Facebundles" /><br />


        <label>Textile Description: @ViewBag.description</label><br />
        <label>Textile Color: @ViewBag.color</label><br />
        <label>Textile Structure: @ViewBag.structure</label><br />
        <label>Textile Function: @ViewBag.function</label><br />


        <label asp-for="Text">Text:</label>
        <input class="text-area" asp-for="Text" /><br />

        <button class="btn btn-dark" type="submit">Save Changes</button>
    </form>
    <a class="btn btn-dark" asp-action="BurialSummary" asp-controller="Home">Back</a>
</div>