@{
    ViewData["Title"] = "Burial Summary";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model BurialmainViewModel

<div class="text-center">
    <h1 class="display-4">Burial Summary</h1>
</div>

<a></a>

<div class="text-center text-align-center">
    <form method="get" asp-action="BurialSummary" asp-controller="Home">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label>Sex: </label><br />
                        <select name="sex" id="sex">
                            <option value=""></option>
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select><br />
                    </td>
                    <td>
                        <label>Age at Death: </label><br />
                        <select name="age" id="age">
                            <option value=""></option>
                            <option value="A">A - Adult</option>
                            <option value="C">C - Child</option>
                            <option value="I">I - Infant</option>
                            <option value="N">N - Newborn</option>
                        </select>
                    </td>
                    <td>
                        <label>Head Direction: </label><br />
                        <select name="dir" id="dir">
                            <option value=""></option>
                            <option value="N">N - North</option>
                            <option value="W">W - West</option>
                        </select>
                    </td>
                    <td>
                        <label>Hair Color: </label><br />
                        <select name="hair" id="hair">
                            <option value=""></option>
                            <option value="B">B - Brown</option>
                            <option value="K">K - Black</option>
                            <option value="A">A - Brown-Red</option>
                            <option value="R">R - Red/Red-Blonde</option>
                            <option value="D">D - Blonde</option>
                        </select>
                    </td>
                    <td>
                        <label>Face Bundle: </label><br>
                        <input type="checkbox" name="bundle" id="bundle" value="Y">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Burial Id: </label>
                        <input type="text" name="burialid" id="burialid" />
                    </td>
                    <td>
                        <label>Burial Depth: </label>
                        <input type="text" name="depth" id="depth" />
                    </td>
                    <td>
                        <label>Textile Color: </label>
                        <input type="text" name="color" id="color" />
                    </td>
                    <td>
                        <label>Textile Structure: </label>
                        <input type="text" name="structure" id="structure" />
                    </td>
                    <td>
                        <label>Textile Function: </label>
                        <input type="text" name="function" id="function" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-dark justify-content-center" type="submit">Filter</button>
    </form>
</div>

<a class="btn btn-dark float-right" asp-controller="Home" asp-action="AddBurialRecord">Add Record</a>

<table class="table table-bordered table-striped">

    <!-- Table Header -->
    <thead>
        <tr>
            <th class="col-1">Id</th>
            <th class="col-1">Sex</th>
            <th class="col-1">Age at Death</th>
            <th class="col-1">Burial Depth</th>
            <th class="col-1">Area</th>
            <th class="col-1">Burial Number</th>
            <th>Text</th>
        </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
        @foreach (Burialmain b in Model.Burialmains)
        {
        <tr>
            <td>@b.Id</td>
            <td>@b.Sex</td>
            <td>@b.Ageatdeath</td>
            <td>@b.Depth</td>
            <td>@b.Squarenorthsouth @b.Squareeastwest @b.Area</td>
            <td>@b.Burialnumber</td>
            <td>@b.Text</td>

            <td class="text-center text-align-center">
                <form method="get" asp-action="BurialDetails" asp-controller="Home">
                    <input name="Id" type="hidden" value=@b.Id id="Id">
                    <button class="btn btn-dark justify-content-center" type="submit">Burial Details</button>
                </form>
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td class="text-center text-align-center">
                    <form method="get" asp-action="DeleteBurialRecord" asp-controller="Home">
                        <input name="Id" type="hidden" value=@b.Id id="Id">
                        <button class="btn btn-dark justify-content-center" type="submit">Delete</button>
                    </form>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

@* Page Number buttons to switch pages *@
<div page-model="@Model.PageInfo" page-action="BurialSummary" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1 float-center">
</div>